/* Font sizes, colors, families */

p {
    color:white;
    font-family: courier, monospace; 
    font-size: 16pt;
    padding: .2vw;
}
p.responsive {
    font-size: max(min(.5vw, 18pt), 14pt);   
}

h2, h3, h4, h5, h6 {
    font-family: courier, monospace; 
    color: greenyellow
}

/* Subheadings */
h2 {
    padding: .1vw;
    font-size: 1.5vw; 
}
h2 span {
    background-color:slategrey; 
    background-clip:border-box;
    padding: .4vw;
    border:.2vw solid greenyellow;
}
h2.responsive {
    font-size: max(min(1.5vw, 24pt), 22pt);
}

.important {
    font-size: max(min(1.2vw, 20pt), 18pt);
    color: slategrey;
    font-weight: bolder;
    
}

li {
    font-size: max(min(1vw, 16pt), 14pt);
}

/** links **/

a.no-decoration {
    text-decoration: none;
    color: slategrey;
}