/* Typing Animation */
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.typing-title {
    width: 10ch;
    animation: typing 3.5s steps(10), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: courier, monospace;
    font-size: 5vw;
    color: greenyellow;
}

.typing-subtitle {
    width: 18ch;
    animation: typing 2.5s steps(10), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: courier, monospace;
    font-size: 2vw;
    color: slategrey;
}
  
@keyframes typing {
    from {
        width: 0
    }
}
      
@keyframes blink {
    50% {
        border-color: transparent
    }
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}