p {
    color:white; 
    font-family:Trebuchet MS; 
    font-size:1.5vw;
    padding: .2vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Trebuchet MS; 
    color: black
}

/* Title of my Website */
h1 {
    background-color:slategrey; 
    background-clip:border-box;
    border:.5vw solid #F3D7ED;
    padding: 2vw;
    font-size: 5vw; 
    text-align:center;
}

/* Subheadings of my Website */
h2 {
    padding: .2vw;
    font-size: 2vw; 
}
h2 span {
    background-color:slategrey; 
    background-clip:border-box;
    padding: .4vw;
    border:.2vw solid #F3D7ED;
}

/* picture of me */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius:2pt;
}

/* buttons */
.btn {
    width:15% ;
    font-size: 1.5vw;
    font-family: Trebuchet MS;
    color:black;
    background-color:white;
    border-color: white;
    border-width:.2vw;
    border-radius: 8pt;
    padding: 10px;
}
.btn:hover {
    background-color:#F3D7ED;
}

/* background */

body {
    background-color:#191d30;
}