/* Font sizes and styles */
p {
    color:white; 
    font-family:Trebuchet MS; 
    font-size: 1.5vw;
    padding: .2vw;
}
p.responsive {
    font-size: max(min(1.5vw, 18pt), 8pt);    
}

h1, h2, h3, h4, h5, h6 {
    font-family: Trebuchet MS; 
    color: black
}

/* Bottom bar */
h3 {
    background-color:slategrey; 
    background-clip:border-box;
    border:.5vw solid #F3D7ED;
    padding: 4vw;
    font-size: 1vw; 
    text-align:end;
}
.bottom-bar {
    width: 100%;
    background-color: slategrey;
    overflow: auto;
}
.bottom-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 2vw 0;
    transition: all 0.3 ease;
    color:black;
    font-size: 1vw;
}
.bottom-bar a:hover {
    background-color:black;
}
.active {
    background-color:#F3D7ED;
}

/* Title */
h1 {
    background-color:slategrey; 
    background-clip:border-box;
    border:.5vw solid #F3D7ED;
    padding: 2vw;
    font-size: 5vw; 
    text-align:center;
}

/* Subheadings */
h2 {
    padding: .2vw;
    font-size: 2vw; 
}
h2 span {
    background-color:slategrey; 
    background-clip:border-box;
    padding: .4vw;
    border:.2vw solid #F3D7ED;
}
h2.responsive {
    font-size: min(2vw, 25pt);
}

/* Images */
img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* image of me */
.img1 {
    width: 15%;
    border-radius:2pt;
}
/* button images */
.img2 { /* GitHub */
    width: 12%;
}
.img3 { /* LinkedIn */
    width: 14%;
}
.img4 { /* email */
    padding: 2px;
    width: 21%;
}

/* buttons */
.btn {
    width:10% ;
    font-size: 1vw;
    font-family: Trebuchet MS;
    color:black;
    background-color:white;
    border-color: white;
    border-width:.2vw;
    border-radius: 8pt;
    padding: 5px;
}
.btn:hover {
    background-color:#F3D7ED;
}

/* background */
body {
    background-color:#191d30;
}