body {
    background-color: #3d3d40;
    background-image: url(../images/simple_space_background.jpeg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

div.content {
    margin-left: 5vw;
    margin-right: 5vw;
}

h1 {
    text-align: center;
    margin-top: 16vh;
    margin-bottom: 1vh;
    color: white;
    font-size: max(min(6vw, 100pt), 6vh);
}

@keyframes wheelHueColor {
    from, to { color: #ffadad; }
    12.5%      { color: #ffd6a5; }
    25%      { color: #fdffb6; }
    37.5%      { color: #caffbf; }
    50%      { color: #9bf6ff; }
    62.5%      { color: #a0c4ff; }
    85%      { color: #bdb2ff; }
    97.5%      { color: #ffc6ff; }
}

.rotateColor {
    color: #ffffff;
    animation: wheelHueColor 10s infinite;
    transform: translateY(-50%);
}

h2 {
    font-size: max(min(2vw, 20pt), 2vh);
    color: #ffffff;
    margin-top: 8vh;
}

h3 {
    font-size: max(min(1.5vw, 18pt), 1.5vh);
    color: #ffffff;
}

p {
    font-size: max(min(1.3vw, 16pt), 1.3vh);
    color: #808080;
    margin-top: 1vh;
}

a:-webkit-any-link {
    text-decoration: none;
    color: #b1b1b1;
}

.navImage {
    display: block;
    margin: 0 auto;
    width: 2vw;
    @media screen and (max-width: 768px) {
        width: 30%;
    }
}